ul {
    list-style-type: none; /* Elimina el estilo predeterminado de las viñetas */
    padding: 0; /* Elimina el espacio interior predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
  }
  #portada{
    position:absolute;
    top: 80px !important;
    background-color: rgb(110, 106, 245);
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    height: 100px;
  }
  #carton{
    position: absolute;
    top: 400px !important;
  }