.title{
    background-color:#3E6BEB;
     color:white;
     border-radius:5px;
     }

.set{
    background-color:#E0E3FF;
    border-radius:5px;
}
.navbar {
    background-color: #000000; /* Fondo negro */
}
.navbar.fixed .navbar-brand,
.navbar.fixed .navbar-nav .nav-link {
    color: #ffffff; /* Letras blancas */
}
.contenido{
    margin-top: 100px;
}
h1{
    font-family: 'Blinker', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    font-weight: bold;

}
h4{
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#EstadoLinea{
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    color: white !important;
    font-family: 'Blinker', sans-serif;
}