.title{
    background-color:#3E6BEB;
     color:white;
     font-weight:bold;
      font-size:15px;
       border-radius:5px;
     }

.set{
    background-color:#E0E3FF;
    border-radius:5px;
}
.navbar {
    background-color: #000000; /* Fondo negro */
}
.navbar.fixed .navbar-brand,
.navbar.fixed .navbar-nav .nav-link {
    color: #ffffff; /* Letras blancas */
}