
    
    body {
        background-image: url('../img/fondo.jpg');
        background-attachment: fixed; /* Esto asegura que el fondo se mantenga fijo al desplazarse */
        background-position: center top; /* Centra la imagen de fondo */
        background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    }
    
    /* Estilos adicionales */
    .navbar.transparent {
        /*background-color: transparent !important;*/
       
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important;
          
          
        border-bottom: none;
        box-shadow: none;
    }
    /* Estilo para el efecto hover */
    a:hover {
    color: rgb(207, 207, 207) !important; /* Color al pasar el cursor */
    transition: color 0.3s ease; /* Transición suave del cambio de color */
    text-decoration: none;
}

      
    .navbar.transparent .navbar-brand,
    .navbar.transparent .navbar-nav .nav-link {
        color: #ffffff; /* Letras blancas */
    }
    .navbar.fixed {
        background-color: #000000; /* Fondo negro */
    }
    .navbar.fixed .navbar-brand,
    .navbar.fixed .navbar-nav .nav-link {
        color: #ffffff; /* Letras blancas */
    }
    #cubridor{
        height: 200px; 
        position: absolute; 
        top: 0; 
        bottom: 0;
         left: 0; 
         right: 0; 
         background:linear-gradient(to right, rgba(0, 0, 0, 0.9),rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.9)); 
         pointer-events: none;
    }
    a{
        text-decoration: none;
    }
    .contenido{
        transition: background-color 1s ease;
       background-color: #ffffff;
       margin-top: 30px;
       color:#1a1919;
       border-radius: 20px; 
       overflow: hidden !important;
    }
    .contenido:hover{
        background-color: #eeeeeee4;
        transition: background-color 1s ease;
    }
    
     .tecn{
        background-color:#e3e3e3 !important;
        border-radius: 10px;
        overflow: hidden !important;
        border-color: #7c7c7c3c;
        }

     .proyect{
        background-color:#ffffff !important;
        
        border-radius: 10px;
        overflow: hidden !important;
        
        }

     

/* Datos */
h6 {
    padding-top:20px;
    border-bottom: 2px solid #7c7c7c;  
    padding-bottom: 10px;           
}

#Datos{
    color:#141414;
    list-style-type: none;

}
#Datos a {
    color:#0f0f0f !important;
}

/* Agregar una transición lenta para el colapso */
.collapse {
    transition: height 0.5s ease-in-out; /* 0.5s es la duración de la transición; puedes ajustarla según tus necesidades */
}

