
    
    body {
        background-image: url('../img/fondo.jpg');
        background-attachment: fixed; /* Esto asegura que el fondo se mantenga fijo al desplazarse */
        background-position: center top; /* Centra la imagen de fondo */
        background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    }
    
    /* Estilos adicionales */
    .navbar.transparent {
        /*background-color: transparent !important;*/
       
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important;
          
          
        border-bottom: none;
        box-shadow: none;
    }
    /* Estilo para el efecto hover */
    a:hover {
    color: rgb(207, 207, 207) !important; /* Color al pasar el cursor */
    transition: color 0.3s ease; /* Transición suave del cambio de color */
    text-decoration: none;
}

      
    .navbar.transparent .navbar-brand,
    .navbar.transparent .navbar-nav .nav-link {
        color: #ffffff; /* Letras blancas */
    }
    .navbar.fixed {
        background-color: #000000; /* Fondo negro */
    }
    .navbar.fixed .navbar-brand,
    .navbar.fixed .navbar-nav .nav-link {
        color: #ffffff; /* Letras blancas */
    }
    #portada{
      overflow: hidden;
      
      color: rgba(14, 255, 255, 0.152);
      
  }
    #cubridor{
        height: 200px; 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
         background:linear-gradient(to right, rgba(0, 0, 0, 0.9),rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.9)); 
         
         pointer-events: none;
         z-index: 10;
    }
    a{
        text-decoration: none;
    }
    .contenido{
        transition: background-color 1s ease;
       background-color: #ffffff;
       margin-top: 30px;
       color:#1a1919;
       border-radius: 2px; 
       overflow: hidden !important;
    }
    .contenido:hover{
        background-color: #eeeeeef6;
        transition: background-color 1s ease;
    }
    
     .tecn{
        background-color:#e3e3e300 !important;
        border-radius: 10px;
        overflow: hidden !important;
        border-color: #7c7c7c3c;
        width: 200px;
        font-size: 15;
        }

     .proyect{
        background-color:#ffffff !important;
        
        
       
        
        
        }

     

/* Datos */
h3{
  font-family: 'Blinker', sans-serif;
}
h4{
  font-family: 'Blinker', sans-serif;

}
h6 {
    padding-top:20px;
    border-bottom: 2px solid #7c7c7c;  
    padding-bottom: 10px;    
    font-family: 'Ubuntu Mono', monospace;
      
}



#Datos{
    
    list-style-type: none;

}
#Datos a {
  font-weight: bold;
    color:#00ff51 !important;
}

.btn-wsp {
    height: 30px;
    font-weight: bold;
    font-size: 15;
  }
  a{
    text-decoration: none;
  }

 /*estilos de las opciones de estilo deweb*/
  
  #menuBtn {
    position: fixed;
    top: 200px;
    right: 0px;
    z-index: 1000;
    background-color: #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
#menuBtn img {
width: 50px;
padding: 5px;
}
  #menuBtn:hover{
    width:52px;
    cursor: pointer;
  }
  
  #sideMenu {
    position: fixed;
    top: 250;
    right: -200px;
    width: 50px;
    background-color: #33333300;
    transition: 0.3s;
  }
  
  #sideMenu.show {
    right: 0;
  }
  
  .option {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  

  
  .contenido.dark {
    background-color: #303030;
    color: #fff;
  }
  .contenido.dark table{
    color:white;
  }
  .contenido.dark:hover{
    background-color: #2a2a2ac1;
    transition: background-color 1s ease;
}
  
  .contenido.red {
    background-color: rgb(92, 46, 46);
    color: #fff;
  }
  .contenido.red table{
    color:white;
  }
  .contenido.red:hover{
    background-color: #ca6f6fd2;
    transition: background-color 1s ease;
}
  
  .contenido.blue {
    background-color: rgb(67, 82, 200);
    color: #ffffff;
  }
  .contenido.blue:hover{
    background-color: #3e3653e4;
    transition: background-color 1s ease;
}
.contenido.blue table{
  color:white;
}
  
  .contenido.light {
    background-color: #fff;
    color: #333;
  }
  .contenido.light:hover{
    background-color: #eeeeeee4;
    transition: background-color 1s ease;
}
/*estilos de las palabras animadas de portada*/
#word-animation {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* Inicialmente oculto */
  transition: opacity 2s; /* Transición suave de opacidad */
  z-index: 200;
}
footer{
  
  color:rgb(63, 63, 63);
  font-family: 'Ubuntu Mono', monospace;
  background-color: rgb(189, 189, 189);
}


footer .table{
  background-color: #262c3400;
  color: white;
  
}

.recursos{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
}
  
.recursos img{
  width: 200px;
}

 /*estilo responsive del carrusel */
 .carousel-inner img {
    width: 480px !important;
    
    border-radius: 10px;
    margin-left: 30;
    margin-right: 30;
    margin-bottom: 30;
    box-shadow: 2px 2px 6px #000000;
    
  }
  /*Estilo para efecto blanco difimunidado*/
  #cobertorcarro{
    height: 390px; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
     background:linear-gradient(to right, rgb(255, 254, 254),rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0), rgb(255, 253, 253)); 
     z-index: 100;
  }
  #certificados{
    background-color: white;
  }
 

