.navbar {
    background-color: #000000; /* Fondo negro */
}
.navbar.fixed .navbar-brand,
.navbar.fixed .navbar-nav .nav-link {
    color: #ffffff; /* Letras blancas */
}

.contenido{
    margin-top: 100px !important;
}
.dropdown-menu {
    max-height: 80vh; 
    overflow-y: auto;
  }