ul {
    list-style-type: none; /* Elimina el estilo predeterminado de las viñetas */
    padding: 0; /* Elimina el espacio interior predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
  }
  
  body {
    background-image: url('../recursos/fondo.webp');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .controles{
    color:white;
  }
  h4 {
    border-bottom: 2px solid #969696;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: white;
    margin-bottom: 10px; /* Añadido un margen inferior */
  }
  
  .contenido {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.059);
    padding: 20px;
    border-radius: 10px;
    
    
    flex-grow: 1; /* Permitir crecer dinámicamente */
    margin-top: 20px;
  }
  .contenido2 {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.059);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 69px;
  }
  
  .contenido img {
    width: 100px;
    filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.239));
    transition: 2s;
  }
  .contenido img:hover{
    filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0));
    background-color: #d3d3d340;
    border-radius: 50%;
    padding: 10px;
    transition: 2s;
    border:8px solid #201d2a;
    box-shadow: 1px 1px 1px rgba(55, 55, 55, 0.397);
  }

  .calculator {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .screen {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
  }
  
  button:hover {
    background-color: #d0d0d0;
  }
  
  button:active {
    background-color: #c0c0c0;
  }
  .dropdown-menu {
    max-height: 80vh; 
    overflow-y: auto;
  }